%p{:style => "margin-bottom: 10px"}
	Hi #{@order.user.name},
%p{:style => "margin-bottom: 10px"}
	Thank you for shopping Barn & Willow
%p{:style => "margin-bottom: 10px"}
	Your order number is #{@order.id}
%p{:style => "margin-bottom: 10px"}
	= link_to "View your order.", edit_order_url(@order.id)
%p{:style => "margin-bottom: 10px"}
	Order details are as follows:
%p{:style => "margin-bottom: 10px;padding-left: 20px;"}
		Name: #{@order.name}
%p{:style => "margin-bottom: 10px;padding-left: 20px;"}
	Email Address: #{@order.email_address}
%p{:style => "margin-bottom: 10px;padding-left: 20px;"}
	Shipping Address: #{@order.shipping_address}
%p{:style => "margin-bottom: 10px;padding-left: 20px;"}
	Fabrics Type and Color
	- @fabrics.each do |fabric|
		%p{:style => "margin-bottom: 10px"}
			= fabric
%p{:style => "margin-bottom: 10px"}
	Your order will be shipped to you by #{(@order.created_at+72.hours).strftime("%d %b. %Y")}
