%li.nav= link_to 'Collection', root_path, class: 'navbar-brand'
%li.nav= link_to 'Our Designs', root_path, class: 'navbar-brand'
%li.nav= link_to 'About', root_path, class: 'navbar-brand'
%li.nav= link_to 'Blog', root_path, class: 'navbar-brand'
%li.nav{:style => "background-color:aqua"}= link_to 'CHECK OUT', "#", {:class => 'navbar-brand', :onclick => "checkout(event)"}
/ http://cdn.shopify.com/s/files/1/0455/8913/t/70/assets/cart-icon.png?5138200910516120701